<ion-view title="" hide-nav-bar="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content>
		<a nav-clear menu-close href="#/app/start">
			<div class="col" id="container_main" class="button button-icon icon col">
				<div class="row"><br><br><br><br><br><br><br><br></div>
				<img src="img/splash1.png" id="logoMain" class="col col-33 col-offset-33">
				<div class="row"><br><br><br></div>
				<div id="home_buttons" class="row">
					<div id="home_login" class="col">
						<button class="button button-icon icon col" id="begintap">
							TAP<br>ANYWHERE TO<br>BEGIN
						</button>
					</div>
				</div>
				<div class="row"><br><br><br><br><br><br><br><br></div>
			</div>
		</a>
	</ion-content>
</ion-view>
