<ion-view title="QUIZZES" hide-nav-bar="true">
	<ion-tabs class="tabs-assertive tabs-striped tabs-icon-only">
		<ion-tab title="QuizHome" icon-on="ion-ios7-bookmarks" icon-off="ion-ios7-bookmarks-outline">
			<ion-header-bar class="bar-assertive">
				<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
				<h1 class="title">TRENDING</h1>
			</ion-header-bar>
			<ion-content has-title="true" padding="true" id="container_main">
				<div class="row">
					<div class="col ">
						<a href="#/app/quiz1">
							<div class="card" id="quiz_card">
								<img src="img/superman_FEATURED.png" id="quiz_feature">
								<div id="quiz_title">
									Which Superhero Are You?
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/cerealMascot.png" id="quiz_icon">
								<div id="quiz_title">
									Which Cereal Mascot Are You?
								</div>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/HarryPotterWoman.png" id="quiz_icon">
								<div id="quiz_title">
									Which Harry Potter Woman Are You?
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/malePopStar.png" id="quiz_icon">
								<div id="quiz_title">
									Which Male Pop Star Are You?
								</div>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/HarryPotterWoman.png" id="quiz_icon">
								<div id="quiz_title">
									Which Harry Potter Woman Are You?
								</div>
							</div>
						</a>
					</div>
				</div>
			</ion-content>
		</ion-tab>
		<ion-tab title="Cat1" icon-on="ion-settings" icon-off="ion-settings">
			<ion-header-bar class="bar-assertive">
				<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
				<h1 class="title">SKILL</h1>
			</ion-header-bar>
			<ion-content has-title="true" padding="true" id="container_main">
				<div class="row">
					<div class="col ">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/career_FEATURED.png" id="quiz_feature">
								<div id="quiz_title">
									What Career Path Do You Trek?
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/HarryPotterWoman.png" id="quiz_icon">
								<div id="quiz_title">
									Which Harry Potter Woman Are You?
								</div>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/pixar.png" id="quiz_icon">
								<div id="quiz_title">
									Which Pixar Character Is Your Spirit Animal?
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/hungergames.png" id="quiz_icon">
								<div id="quiz_title">
									How Long Will You Survive The Hunger Games?
								</div>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/illuminati.png" id="quiz_icon">
								<div id="quiz_title">
									Which Possible Illuminati Member Are You?
								</div>
							</div>
						</a>
					</div>
				</div>
			</ion-content>
		</ion-tab>
		<ion-tab title="Cat2" icon-on="ion-android-hand" icon-off="ion-android-hand">
			<ion-header-bar class="bar-assertive">
				<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
				<h1 class="title">CIVIC</h1>
			</ion-header-bar>
			<ion-content has-title="true" padding="true" id="container_quiz">
				<div class="row">
					<div class="col ">
						<a href="#/app/quiz1">
							<div class="card" id="quiz_card">
								<img src="img/superman_FEATURED.png" id="quiz_feature">
								<div id="quiz_title">
									Which Superhero Are You?
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/karma.png" id="quiz_icon">
								<div id="quiz_title">
									Do You Have Good Karma?
								</div>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/president.png" id="quiz_icon">
								<div id="quiz_title">
									Which US President Are You?
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/sixsense.png" id="quiz_icon">
								<div id="quiz_title">
									What Is Your 'Sixth Sense'?
								</div>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/whorunstheworld.png" id="quiz_icon">
								<div id="quiz_title">
									Who Runs The World?
								</div>
							</div>
						</a>
					</div>
				</div>
			</ion-content>
		</ion-tab>
		<ion-tab title="Cat3" icon-on="ion-ios7-home" icon-off="ion-ios7-home">
			<ion-header-bar class="bar-assertive">
				<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
				<h1 class="title">LIFESTYLE</h1>
			</ion-header-bar>
			<ion-content has-title="true" padding="true" id="container_main">
				<div class="row">
					<div class="col ">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/mother_FEATURED.png" id="quiz_feature">
								<div id="quiz_title">
									Just How 'Mom' Are You?
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/malePopStar.png" id="quiz_icon">
								<div id="quiz_title">
									Which Male Pop Star Are You?
								</div>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/cerealMascot.png" id="quiz_icon">
								<div id="quiz_title">
									Which Cereal Mascot Are You?
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/jungleanimal.png" id="quiz_icon">
								<div id="quiz_title">
									What Jungle Animal Are You?
								</div>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/city.png" id="quiz_icon">
								<div id="quiz_title">
									What City Should You Actually Live In?
								</div>
							</div>
						</a>
					</div>
				</div>
			</ion-content>
		</ion-tab>
		<ion-tab title="Cat4" icon-on="ion-android-friends" icon-off="ion-android-friends">
			<ion-header-bar class="bar-assertive">
				<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
				<h1 class="title">SOCIAL</h1>
			</ion-header-bar>
			<ion-content has-title="true" padding="true" id="container_main">
				<div class="row">
					<div class="col ">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/90spopstar_FEATURED.png" id="quiz_feature">
								<div id="quiz_title">
									Which 90s Pop Idol Are You?
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/emoji.png" id="quiz_icon">
								<div id="quiz_title">
									How Emoji Are You?
								</div>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/viralcat.png" id="quiz_icon">
								<div id="quiz_title">
									Which Viral Cat Are You?
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/tobias.png" id="quiz_icon">
								<div id="quiz_title">
									How Tobias Funke Are You?
								</div>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a href="">
							<div class="card" id="quiz_card">
								<img src="img/astrology.png" id="quiz_icon">
								<div id="quiz_title">
									What Astrological Sign Are You Really?
								</div>
							</div>
						</a>
					</div>
				</div>
			</ion-content>
		</ion-tab>
	</ion-tabs>
</ion-view>
