<ion-view title="REGISTER">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<div id="home_container">
			<form id="register-form" onsubmit="registerNew()">
				<div class="registerCol">
					<div class="card">
						<div class="item item-text-wrap energized-bg">
							<input type="text" placeholder="First Name" id="fname" class="energized-bg">
							<input type="text" placeholder="Last Name" id="lname" class="energized-bg">
						</div>
					</div>
					<div class="card">
						<div class="item item-text-wrap energized-bg">
							<input type="text" placeholder="Email" id="email" class="energized-bg">
						</div>
					</div>
				</div>
				<div class="registerRow">
					<div class="registerCol col-50">
						<div class="card">
							<div class="item item-text-wrap">
								CARD TWO
							</div>
						</div>
					</div>
					<div class="registerCol col-50">
						<div class="card">
							<div class="item item-text-wrap">
								CARD THREE
							</div>
						</div>
					</div>
				</div>
				<input type="submit">
			</form>
		</div>
	</ion-content>
</ion-view>
