<ion-view title="PROFILE">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content id="container_main">
		<div class="col" class="button button-icon icon col">
			<div class="col col-50 col-offset-25">
				<img src="img/profilepicture.png" id="quiz_icon">
				<div id="profileInfo">
					<p>Johnny Smith</p>
					<p>Born 11/2/2014</p>
				</div>
			</div>
			<div class="row">
				<h2 class="title">Completed Quizzes</h2>
			</div>
			<div class="list">
				<a class="item item-thumbnail-left item-text-wrap" id="results_text" href="#/app/q1r2">
					<img src="img/results/superhero_result.png">
					<h2>CIVIC: Which Superhero Are You?</h2>
					<p>Spiderman. "Expose Evil"</p>
				</a>
				<a class="item item-thumbnail-left item-text-wrap" id="results_text" href="">
					<img src="img/results/viralCat_result.png">
					<h2>SOCIAL: Which Viral Cat Are You?</h2>
					<p>Grumpy Cat. "Resting Bitch Face"</p>
				</a>
				<a class="item item-thumbnail-left item-text-wrap" id="results_text" href="">
					<img src="img/results/harryPotter_result.png">
					<h2>SKILL: Which Harry Potter Woman Are You?</h2>
					<p>Hermione. "Righteously Smart"</p>
				</a>
				<a class="item item-thumbnail-left item-text-wrap" id="results_text" href="">
					<img src="img/results/cerealMascot_result.png">
					<h2>LIFESTYLE: Which Cereal Mascot Are You?</h2>
					<p>Tony the Tiger. "A Lover Of Ascots And Stronger Bones"</p>
				</a>
				<a class="item item-thumbnail-left item-text-wrap" id="results_text" href="">
					<img src="img/results/career_result.png">
					<h2>SKILL: What Career Path Do You Trek?</h2>
					<p>Non-Profit Work. "You Gotta Make a Change"</p>
				</a>
				<a class="item item-thumbnail-left item-text-wrap" id="results_text" href="">
					<img src="img/results/popStar_result.png">
					<h2>LIFESTYLE: Which Male Pop Star Are You?</h2>
					<p>Justin Timberlake. "You Are Bringing Sexy Back"</p>
				</a>
				<a class="item item-thumbnail-left item-text-wrap" id="results_text" href="">
					<img src="img/results/jungleAnimal_result.png">
					<h2>LIFESTYLE: Which Jungle Animal Are You?</h2>
					<p>Monkey. "Adaptation Is Your Bitch!"</p>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>
