<ion-view title="RESULT">
	<ion-content>
		<h1>Batman</h1>
		You are extremely capable physically and would most benefit the world by putting your skills to use, whether its having a physical career in service like a fireman or volunteer coaching a sport, bless people with your ability.You are the rogue.  Things to consider: you would benefit from finding a specific cause that bothers you and challenging energy into said cause, without it you may be too bogged down by how broken everything is and just go wild without helping solve anything in the end.  You need to remember to consider who you might be effecting with your actions, and chanel all your anti-establishment sentiments into a plan to take one part down with fewest casualties.<br>Related Quiz: What world do you want to save?
	</ion-content>
</ion-view>
