<ion-view title="RESULT">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button class="button-icon ion-ios7-arrow-back"> Back</ion-nav-back-button>
		<h1 class="title">Result</h1>
	</ion-nav-bar>
	<ion-content id="container_main">
		<div class="col">
			<br/>
			<h1>Spiderman!</h1>
			<img src="img/spiderman_result.png" id="quiz_icon">
			<div class="list list-inset">You want to change something! And you know how much media can change things. Grab your camera and your notepad and show the endangered animals or the injustice in your local town. You know that in order to change the system, you have to work within it….but it definitely needs changing. You want to consider a career that will allow you to make small changes and make people aware of problems that exist.  It is not important that you find one ultimate issue that you must solve, but it is important that you find a way to make change and show people what needs fixing. You might want to check out careers in communication or media.</div>
			<button class="button button-block button-assertive icon ion-share"></button>
			<h1>Related</h1>
			<div class="list">
				<a class="item item-thumbnail-left" href="">
					<img src="img/whorunstheworld.png">
					<p>CIVIC</p>
					<h2>Who Runs The World?</h2>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>
