<ion-view title="RESULT">
	<ion-content>
		<h1>Ironman</h1>
		You are a smarty pants! have you thought about biomedical or cancer research? Put your brain to use-see how you can develop the next cure or solve a problem.  You have an eye for detail and can spot out small problems and come up with good solutions.  You should find what you are best at and make sure that you can use it to solve earthly problems! You might want to check out careers in science and technology. <br>Related Quizzes: Which 90’s sidekick am I? (Skills test for problem solvers).
	</ion-content>
</ion-view>
