<ion-view title="RESULT">
	<ion-content>
		<h1>Superman</h1>
		You are extremely capable physically and would most benefit the world by putting your skills to use, whether its having a physical career in service like a fireman or volunteer coaching a sport, bless people with your ability. You like to think about what is right in front of you and live life! You are best suited to finding ways of making individuals happier or safer! Work towards finding an outlet for your abilities and make sure you can make someone smile. You might want to check out careers in public service.<br>Related Quiz: Which Sexy Halloween Costume am I? (service industry skills test). 
	</ion-content>
</ion-view>
